# macOS system files
.DS_Store

# Dependencies
node_modules/
venv/
dist/
build/

# Environment files
.env

# Файлы автосохранения и временные файлы
#*
# IDE и редакторы
.idea/
.vscode/
*.code-workspace