# Игнорируем файл конфигурации окружения
.env

# Игнорируем IDE-конфигурации
.idea/

# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем папку с зависимостями
node_modules/
.env
.idea
.DS_Store
.node_modules
