:root {
  --font-family-primary: 'Neucha', cursive;
  --font-family-second: 'Marmelad', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xxs: 0.7rem;
  --font-size-xs: 0.8rem;
  --font-size-s: 0.9rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.35rem;
  --font-size-xxl: 1.65rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.marmelad-regular {
  font-family: Marmelad, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.neucha-regular {
  font-family: Neucha, cursive;
  font-weight: 400;
  font-style: normal;
}
